/* Just to keep things from breaking if snarky web people try to break things by
 * shrinking the window pass the min-width point of 360 */
@media #{$zero} {
  
}

 /* ======================================================================== *\
(* -------------------------->   X-Tiny (360+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$x-tiny} {

}

 /* ======================================================================== *\
(* --------------------------->   Tiny (480+)   <---------------------------- *)
 \* ======================================================================== */

@media #{$tiny} {
  .sumo-face {
    margin-top: -9em;
  }

  h3 {
    font-size: 1.5em;
  }

  .speech-bubble {
    margin-top: -5.5em;
  }

  .speech-chrome {
    top: -6em;
  }
}

 /* ======================================================================== *\
(* --------------------------->   Small (640+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$small} {
  .sumo-face {
    margin-top: -11em;
  }

  .repeat {
    line-height: 1.65em;
  }

  .sumo-shoulders img {
    margin-top: -3em;
  }

  .nav-pills>li>a.list-group-item {
    font-size: 1em;
  }
}

 /* ======================================================================== *\
(* -------------------------->   Medium (768+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$medium} {
  .nav-pills>li>a.list-group-item {
    font-size: 1.2em;
  }

  .repeat {
    line-height: 2.05em;
  }

  .speech-bubble {
    margin-top: -6.5em;
  }

  .speech-chrome {
    top: -7em;
  }
}

 /* ======================================================================== *\
(* --------------------->   Medium and a half (896+)   <--------------------- *)
 \* ======================================================================== */

@media #{$medium-point-five} {
  .speech-bubble {
    margin-top: -9.5em;
  }

  .sumo-face {
    margin-top: -15em;
  }

  .repeat {
    line-height: 2.25em;
  }

  .sumo-shoulders img {
    margin-top: -5em;
  }

  h3 {
    font-size: 2em;
  }

  .nav-pills>li>a.list-group-item {
    font-size: 1.3em;
  }

  .speech-chrome {
    top: -10em;
  }
}

 /* ======================================================================== *\
(* -------------------------->   Large (990+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$large} {
  .speech-bubble {
    margin-top: -7.5em;
  }

  .speech-chrome {
    top: -8.5em;
  }
}

 /* ======================================================================== *\
(* -------------------------->   X-Large (1024+)   <------------------------- *)
 \* ======================================================================== */

@media #{$x-large} {
  .speech-bubble {
    margin-top: -6.5em;
  }
}

 /* ======================================================================== *\
(* ------------------------->   XX-Large (1440+)   <------------------------- *)
 \* ======================================================================== */

@media #{$xx-large} {
  .speech-bubble {
    margin-top: -5.5em;
  }
}