/* Just to keep things from breaking if snarky web people try to break things by
 * shrinking the window pass the min-width point of 360 */
@media #{$zero} {
  
}

 /* ======================================================================== *\
(* -------------------------->   X-Tiny (360+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$x-tiny} {

}

 /* ======================================================================== *\
(* --------------------------->   Tiny (480+)   <---------------------------- *)
 \* ======================================================================== */

@media #{$tiny} {
  .sumo-face {
    margin-top: -9em;
  }

  h3 {
    font-size: 1.5em;
  }

  .speech-bubble {
    margin-top: -7.5em;
  }
}

 /* ======================================================================== *\
(* --------------------------->   Small (640+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$small} {
  .sumo-face {
    margin-top: -11em;
  }

  .sumo-shoulders img {
    margin-top: -3em;
  }
}

 /* ======================================================================== *\
(* -------------------------->   Medium (768+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$medium} {

}

 /* ======================================================================== *\
(* --------------------->   Medium and a half (990+)   <--------------------- *)
 \* ======================================================================== */

@media #{$medium-point-five} {
  .speech-bubble {
    margin-top: -8.5em;
  }

  .sumo-face {
    margin-top: -15em;
  }

  .sumo-shoulders img {
    margin-top: -5em;
  }

  h3 {
    font-size: 2em;
  }
}

 /* ======================================================================== *\
(* -------------------------->   Large (1024+)   <--------------------------- *)
 \* ======================================================================== */

@media #{$large} {

}

 /* ======================================================================== *\
(* -------------------------->   X-Large (1440+)   <------------------------- *)
 \* ======================================================================== */

@media #{$x-large} {
  
}