/* ========================================================================== *\
{* =======----------------------OPPAN SUMO STYLE----------------------======= *}
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 



. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
{* =======----------------------TORPEDOES AWAY------------------------======= *}
\* ============================V==V==V==V==V==V============================== */

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $text-mono;
  font-size: $base-font-size;
  line-height: $base-line-height;
  min-width: $x-tiny-screen;
  max-width: $xx-large-screen;
}

.center-wrap {
  position: relative;
  left: 50%;

  .centered {
    position: relative;
    left: -50%;
  }
}

img {
  width: 100%;
  height: auto;
}

.text-light {
  color: $text-color-light;
}

a {
  @include transition(all  0.1s ease-in);
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    @include transition(all  0.15s ease-out);
    color: $link-hover-color;
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}

.inline-block {
  display: inline-block;
}

section {
  margin-bottom: 1em;

  &.moat {
    margin-bottom: 3em;
  }
}

.emphasis {
  color: $text-color-header;
}

.header-block h3  { z-index: 600; }
.sumo-head        { z-index: 500; }
.sumo-body        { z-index: 1; }

/* =======----------------------LAYOUT------------------------======= */

.header-block {
  color: $bg-text-color;

  .giant {
    font-size: 12em;
    margin: -0.275em 0 -0.1em -0.05em;
  }

  a {
    color: $text-color-header;

    &:hover {
      color: $clr-yellow-dark;
    }
  }
}

.sumo-head {
  position: absolute;
  width: 100%;
  min-width: $x-tiny-screen;
  max-width: $xx-large-screen;

  .row {
    margin: 0;
  }
}

.sumo-face {
  margin-top: -6em;
}

.speech-bubble {
  margin-top: -3.5em;
}

.site-footer {
  padding: 3em 0 1.5em;
  margin: 3em 0 0;
}

.speech-chrome {
  position: relative;
  top: -4em;
  z-index: 999;
}

.num-paragraphs {
  position: relative;
  float: right;
}

/* =======----------------------MODULES------------------------======= */

.sumo-shoulders {
  margin-bottom: -0.25em;

  img {
    margin-top: -2em;
  }
}

.sumo-body {
  background-color: #F7DFC4;
  background-image: image-url('lipsumo-body-bg.png');
  background-repeat: repeat-y;
  background-size: 100%;
  max-width: 1680px;
  margin: 0 auto -1px;
}

.speech-bubble {
  @include border-radius(5px);
  background: #fff;
  padding: 1.5em 2em;
  position: relative;
  z-index: 999;
}

.speech-bubble-squiggle {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 1.5em;
  left: 15%;
}

.btn-info {
  background: $clr-turquoise;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background: $clr-turquoise-dark;
  }
}

.instructions {
  text-align: center;
}

.license {
  width: 88px;
  height: 31px;
  margin: 0 auto;
}

.repeat {
  color: $clr-turquoise;
  position: absolute;
  font-size: 1.25em;
  line-height: 1.4em;
  left: -2.35em;
  top: 0em;
  padding: 0 0.75em;

  &:hover {
    color: $clr-turquoise-dark;
  }

  &:active {
    position: absolute;
    top: 0.1em;
  }
}

.author-info {
  font-size: 0.9375em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  a {
    color: $clr-turquoise;

    &:hover {
      color: $clr-turquoise-dark;
    }
  }
}

.body-block .canvas {
  background-color: #fff;
  color: #BDB7BA;
}

.popover-content {
  padding: 0;
}

.nav-pills>li+li {
  margin: 0;
}

.nav-pills>li>a.list-group-item {
  @include border-radius(0);
  border: 0;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  line-height: 1;
  font-size: 0.8em;
  background: #fff;
  color: $clr-yellow;
  padding: 0.5em 0.4em;

  &:hover {
    background-color: rgba(white, 0.6);
    color: $clr-yellow-dark;
  }

  &:active {
    background-color: rgba(white, 0.4);
    color: darken($clr-yellow-dark, 10%);
  }
}

.list-group {
  margin: 0;

  li.active a.list-group-item {
    background-color: rgba(white, 0.6);
    color: $clr-yellow-dark;
  }

  li:nth-child(1) a.list-group-item {
    @include border-radius(3px 0 0 3px);
  }

  li:last-child a.list-group-item {
    @include border-radius(0 3px 3px 0);
  }
}

.twitter-follow-button {
  position: relative;
  top: 0.1em;
  margin-left: 0.5em;
}

.modal-header {
  padding: 1em 1.5em;
}

.modal-body {
  font-size: 0.9375em;
  padding: 1.5em 1.5em 2em;
}

.attribution {
  font-size: 1.5em;
}

.site-footer {
  background: $clr-noot3;
  color: lighten($clr-noot3, 25%);

  a {
    color: $clr-yellow;

    &:hover,
    &:focus,
    &:active {
      color: darken($clr-yellow, 20%);
    }
  }
}

.footer-link {
  display: inline-block;
  padding: 0 1.5em;
}
