$clr-yellow:       #ffc946;
$clr-turquoise:    #5faaa6;
$clr-turquoise-hi: #a6e0d1;
$clr-noot1:        #a0979b;
$clr-noot2:        #a89383;


$bg-color: $clr-turquoise;
$bg-text-color: $clr-turquoise-hi;
$text-color: $clr-noot1;
