$clr-yellow:       #ffc946;
$clr-yellow-dark:  #8c6d27;
$clr-turquoise:    #5faaa6;
$clr-turquoise-hi: #a6e0d1;
$clr-noot1:        #a0979b;
$clr-noot2:        #a89383;

$bg-color: $clr-turquoise;
$bg-text-color: $clr-turquoise-hi;

$text-color: $clr-noot1;
$text-color-header: $clr-yellow;

$link-color: red;
$link-hover-color: blue;