{{define "index"}}

{{template "head.html" .}}

<div class="header-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="tk-cubano text-center giant emphasis">Lipsumo</h1>
      </div>
      <div class="col-xs-6 pull-left">
        <h3 class="tk-cubano">Heavyweight<br>lorem<br>ipsum.</h3>
      </div>
      <div class="col-xs-6 pull-right text-right">
        <h3 class="tk-cubano">Text from<br><a href="http://www.gutenberg.org/" target="_blank">Project<br>Guten-<br>berg</a></h3>
      </div>
    </div>
  </div>
</div>

<div class="body-block">
  <div class="center-wrap">
    <div class="container centered">
      <div class="sumo-head">
        <div class="row">
          <div class="col-xs-offset-3 col-xs-6 sumo-face">
            <img src="images/lipsumo-face.svg" width="780" height="630" alt="LIPSUMO">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sumo-shoulders">
    <img src="images/lipsumo-shoulders.svg" width="1680" height="484" alt="LIPSUMO">
  </div>
  <div class="sumo-body">

    <div class="container">
      <div class="row">
        <div class="col-xs-4 speech-chrome">
          <div class="author-info">
            <span class="author">{{.Author}}</span><br>
            <span class="title"><a href="http://www.gutenberg.org/ebooks/{{.Id}}" target="_blank">{{.Title}}</a></span>
          </div>
        </div>
        <div class="col-xs-8 speech-chrome">
          <div class="num-paragraphs">
            <ul class="list-group amount nav nav-pills">
              <li><a class="list-group-item" num="2"><span class="icon-btn-small"></span></a></li>
              <li class="active"><a class="list-group-item" num="4"><span class="icon-btn-medium"></span></a></li>
              <li><a class="list-group-item" num="6"><span class="icon-btn-large"></span></a></li>
            </ul>
            <a href="#" class="repeat"><i class="fa fa-repeat"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="speech-bubble">
            <div class="row">
              <div class="col-xs-offset-4 col-xs-1">
                <div class="speech-bubble-squiggle">
                  <img src="images/speech-squiggle.svg" width="1680" height="484" alt="LIPSUMO">
                </div>
              </div>
            </div>
            <p class="text-light instructions">Click to copy</p>
            <div class="canvas">
              {{range .Data}}
              <p>{{.}}</p>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="text-center">
        <h4>a <a href="http://hound.io">Hound</a> experiment -
          <a data-toggle="modal" data-target="#subscribeModal">About</a>
        </h4>
      </div>
    </footer>
  </div>
</div>

<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">&times;</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        {{template "about.html"}}
      </div>
    </div>
  </div>
</div>

<div class="book-info hide">
  <div clas="container"><div class="row">
    <div class="col-xs-12 text-center">
      <dl>
        <dt>Author</dt>
        <dd>{{.Author}}</dd>
        <dt>Title</dt>
        <dd>{{.Title}}</dd>
      </dl>
    </div>
  </div>
  <div class="row"><div class="col-xs-12 text-center">
    Get the <a href="http://www.gutenberg.org/ebooks/{{.Id}}">book</a>!
  </div></div>
</div>

{{template "foot.html" .}}

{{end}}
