{{define "index"}}

{{template "head.html" .}}

<div class="header-block">
    <h1 class="tk-cubano text-center giant emphasis">LIPSUMO</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-3"><h3 class="tk-cubano">Heavyweight lorem ipsum</h3></div>
            <div class="col-md-offset-4 col-md-3 text-right">
                <h3 class="tk-cubano">Text from <a href="http://www.gutenberg.org/" target="_blank">Project Gutenberg</a></h3>
            </div>
        </div>
    </div>
</div>

<div class="body-block">
    <div class="container">
        <div class="row"><div class="col-md-offset-1 col-md-10"><div class="row">
            <div class="col-md-2">
                <a href="#" class="hide"><i class="fa fa-clock-o fa-3x"></i></a>
            </div>
            <div class="col-md-8 text-center"></div>
            <div class="col-md-2">
                <div class="num-paragraphs text-right">
                    <a data-contentwrapper=".num-paragraphs-popover"
                       data-toggle="popover" rel="popover">
                        <i class="fa fa-th-large fa-3x"></i>
                    </a>

                    <div class="num-paragraphs-popover hide">
                        <div class="list-group amount">
                            <a class="list-group-item" num="2">Two</a>
                            <a class="list-group-item" num="4">Four</a>
                            <a class="list-group-item" num="6">Six</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="canvas well">
                {{range .Data}}
                    <p>{{.}}</p>
                {{end}}
            </div>
        </div></div></div>
    </div>

    <footer>
        <div class="text-center"><h4>a <a href="http://hound.io">Hound</a> experiment</h3></div>
    </footer>
</div>


{{template "foot.html" .}}

{{end}}
